<tr>
  <td><%= task.customer_name + " : " + task.customer_mobile_phone %></td>
  <td><div class="span8 task_content"><%= task.content %></div></td>
  <td><%= task.notify_date + " " + task.notify_time %></td>
</tr>

