<% provide(:title, "任务列表") %>

<h1>任务列表</h1>

<%= will_paginate previous_label: "前一页", next_label: "后一页" %>
 <table class="table table-striped">
    <caption>共有 <%= @tasks.count %> 个任务</caption>
    <% if @tasks.any? %>
    <thead>
      <tr>
        <th>客户</th>
        <th>通知内容</th>
        <th>通知时间</th>
      </tr>
    </thead>
    <tbody>
      <%= render @tasks %>
    </tbody>
    <% end %>
    
  </table>
<%= will_paginate previous_label: "前一页", next_label: "后一页" %>
