<% provide(:title, "所有用户") %>
<h1>所有用户</h1>

<%= will_paginate %>

<table class="table table-striped">
  <caption>用户列表</caption>
  <thead>
    <tr>
      <th>姓名</th>
      <th>手机号码</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%= will_paginate %>
