<% provide(:title, @user.name) %>
<h1>用户资料</h1>
<table>
  <tr>
    <td><b>姓名：</b></td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td><b>手机：</b></td>
    <td><%= @user.mobile_phone %></td>
  </tr>
  <tr>
    <td><b>角色：</b></td>
    <td>
      <% if @user.admin?  %>
        管理员
      <% else %>
        员工
      <% end %>
    </td>
  </tr>
</table>
