<% if @user.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-error">
            共有<%= @user.errors.count %>个错误             
        </div>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li>* <%= msg %></li>
            <% end %>
        </ul>          
    </div>
<% end %>


