<% provide(:title, @customer.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @customer.name %>
      </h1>
      <h2>
        <%= @customer.mobile_phone %>
      </h2>
    </section>
  </aside>
<div>
