<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
 	<div class="container">
 		<%= link_to "大童CRM", '#', id: "logo" %>
		<nav>
			<ul class="nav pull-right">
				<li><%= link_to "帮助", '#' %></li>
			</ul>
		</nav>
 	</div> 	 	
  </div>
 </header>
